* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.stub linguist-language=php
*.neon.dist linguist-language=neon

.github/workflows/release.yml             export-ignore
.github/workflows/smoke-test.yml          export-ignore
CHANGELOG.md                                    export-ignore
