pnpm-lock.yaml
composer.lock
node_modules
vendor

resources/views/mail/

public/build
public/js/filament/
public/css/filament/
public/fonts/filament/
public/css/filament-environment-indicator/styles.css

storage/framework
storage/debugbar
database/snapshots

docs/.astro/
docs/dist/

.github/actions
.github/workflows
