// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Akkurat Pro Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #5091cd;
$indigo: #6574cd;
$purple:  #4e2a84 !default;
$purple-dark: #401f68 !default;
$purple-light: #dcd4e6 !default;
$pink: #f66d9b;
$red: #ef553f;
$orange: #ca7c1b;
$yellow: #ffc520;
$green: #58b947;
$teal: #7fcecd;
$cyan: #6cb2eb;
$danger: #dc3545;
$success: #008656;
$gray: #6c757d;
$gray-dark: #495057;

$primary: $purple !default;
$headings-color: $purple;
$info: #007FA4;
$secondary: $gray-dark; // darken for a11y contrast on non-white backgrounds

// No rounded corners
$border-radius: 0 !default;
$border-radius-sm: 0 !default;
$border-radius-lg: 0 !default;

// Form controls
$input-border-color: #ccc !default;
$input-placeholder-color: #ced4da !default;
$form-feedback-invalid-color: $danger !default; // darken for a11y contrast

$btn-transition: all 0.3s, ease 0s !default; /*color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default; */

// Darken for a11y contrast on non-white backgrounds e.g. .table-striped
$text-muted: $gray-dark;

// Too much purple doesn't work well
$nav-pills-link-active-color: $purple-dark;
$nav-pills-link-active-bg: #dcd4e6;
