// Sass helpers
@use "sass:map";

// Variables
@import 'variables';

// Bootstrap
@import '/node_modules/bootstrap/scss/bootstrap';
@import "nu_fonts";
@import "social_icons";
@import "nu_purple_layout";

$fa-font-path: '/node_modules/@fortawesome/fontawesome-free/webfonts';
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '/node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '/node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '/node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '/node_modules/tom-select/dist/css/tom-select.bootstrap5.min.css';
@import 'tom-select';

code {
  color: #b00d42; // darken for a11y contrast
}

[x-cloak] {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.form-select:disabled {
    cursor: not-allowed !important;
}

.form-select:disabled {
    cursor: not-allowed !important;
}

.dropdown-menu {
    z-index: 1025;
}

#navBarWildcardPhoto {
    height: 40px;
    width: 40px;
    display: inline-block;
    object-fit: cover;
    border: 1px solid $gray;
}

#userProfileWildcardPhoto {
    border: 4px solid white;
    aspect-ratio: 1;
    object-fit: cover;
    width: 180px;
    height: 180px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background-color: $white;

    @media (max-width: 767px) {
        max-width: 130px;
    }
}

// Fix accessibility issues with `laravel-telescope-toolbar`
.sf-toolbar-icon {
    color: #F2F2F2 !important;
    .sf-toolbar-status-green {
        background-color: #00744C !important;
    }
    .sf-toolbar-status-yellow {
        background-color: $warning !important;
        color: black !important;
    }
    .sf-toolbar-status-red {
        background-color: $danger !important;
        color: black !important;
    }
}
