@font-face {
    font-family: "Akkurat Pro Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Light Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Regular";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Akkurat Pro Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Pro Bold Italic";
    src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Poppins Extra Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Poppins Extra Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-ExtraLight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}