* {
    border-radius: 0 !important;
}

:root,
::backdrop {
    --brand-purple: 267, 54%, 26%;
    --brand-purple-light: 264, 51%, 66%;

    --sl-color-accent-low: hsl(var(--brand-purple-light), 0.2);
    --sl-color-accent: hsl(var(--brand-purple-light));
    --sl-color-accent-high: hsl(0, 0%, 100%);

    --sl-color-bg-nav: hsl(var(--brand-purple));
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
    --sl-color-accent-low: hsl(var(--brand-purple), 0.1);
    --sl-color-accent: hsl(var(--brand-purple));
    --sl-color-accent-high: hsl(var(--brand-purple));

    --sl-color-bg-nav: hsl(var(--brand-purple));
}

.site-title,
.header a,
.social-icons a,
.theme-select,
starlight-theme-select,
starlight-theme-select label,
starlight-theme-select select,
starlight-theme-select svg {
    color: hsl(0, 0%, 100%) !important;
    fill: hsl(0, 0%, 100%) !important;
}

a[aria-current="page"] {
    color: var(--sl-color-accent) !important;
    background-color: transparent !important;
    font-weight: 600;
    border-left: 3px solid var(--sl-color-accent);
    padding-left: 0.8rem;
}

a[aria-current="true"] {
    font-weight: 600;
    border-left: 3px solid var(--sl-color-accent);
}

.sl-markdown-content a:not(.anchor-link):not([role="tab"]) {
    color: var(--sl-color-accent);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px dashed var(--sl-color-accent);
    padding-bottom: 2px;
    transition: all 0.2s ease;
}

.sl-markdown-content a:not(.anchor-link):not([role="tab"]):hover {
    border-bottom-style: solid;
    text-decoration: none;
}
